<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>MathHarbor - scientific computing for the masses.</title>

    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>

    <link rel="stylesheet" href="/static/reset.css" type="text/css">
    <link rel="stylesheet" href="/static/styl.css" type="text/css">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- *********  Header  ********** -->

    <div id="header">
        <div id="header_in">

            <h1><a href="/"><b>MathHarbor</b></a></h1>

        <div id="menu">
         <ul>
             <li><a href="/" class="active">Home</a></li>
             <li><a href="http://udemy.com/u/rudimk">Courseware</a></li>
            <li><a href="mailto:founders@mathharbor.com">Contact</a></li>
         </ul>
        </div>

        </div>
    </div>

    <!-- *********  Main part (slider)  ********** -->


        <div id="main_part">
            <div id="main_part_in">

            <h2>We aim to help build a better world, with math.</h2>

            <p>How? By spreading the use of open-source scientific computing, across disciplines.</p>

            </div>


            <!--<div class="button_main">
                <div class="pxline"></div>
                <a href="#" class="button_dark">Join the list</a>
            </div>-->

        </div>


        <!-- *********  Content  ********** -->

        <div id="content">

            <div class="thirds">
                <h3>Computing</h3>
                <p>Apart from our own platform, we help with other popular open-source clouds for scientific computing, such as the Sage Cloud and JuliaBox.</p>
            </div>

            <div class="thirds">
                <h3>Courseware</h3>
                <p>We work on building video courseware on open-source scientific computing, to break traditional barriers to using open-source tools for science.</p>
            </div>

            <div class="thirds">
                <h3>Community</h3>
                <p>We're working on building a community of computational scientists, to help communities use math for social good.</p>
            </div>

            <hr class="cleanit">



            <div class="cara"></div>


            <!-- ****  About & Testimonials  ***** -->


            <div class="about_blok">
                <h3>About Us</h3>
                <p class="about">We are a </p>

                <a href="about.html" class="button_light">LEARN MORE</a>
            </div>

        </div>



    <!-- *********  Footer  ********** -->

    <hr class="cleanit">

     <div id="footer">
        <div id="footer_in">

            <p><a href="http://creativecommons.org/licenses/by/3.0/">CC Attribution 3.0 Unported</a> &mdash; allowed for commercial and non-commercial use</p>
            <span>Author: <a href="http://rudimk.github.io">Rudraksh MK</a></span>


        </div>
    </div>

<script>
// script for testimonial' tabs
$(function() {
    $("ul.controls").tabs("div.testimonials > div");
});
</script>

</body>
</html>
